.wrap {
  margin: 0 auto;
}

.inner {
  max-width: 70%;
  margin: 0 auto;
  z-index: calc($z-index-minimum + 1);
}

.header {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  z-index: calc($z-index-minimum + 1);

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .link {
    &-wrap {
      display: inline-flex;
      align-items: center;
      height: 100%;
    }

    &-naver {
      width: 60px;
      height: 50px;

      &::after {
        display: block;
        width: 100%;
        height: 100%;
        background: url("../img/logo_naver.png") no-repeat center / contain;
        content: '';
      }
    }

    &-shop {
      display: flex;
      align-items: center;
      margin-left: 15px;

      &::before {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        background: url("../img/shopping.png") no-repeat center / contain;
        content: '';
      }
    }

    &-login {
      padding: 5px;
      border: 1px solid $color-grey;

      .link-txt {
        font-size: 12px;
      }
    }

    &-txt {
      color: $color-text;
    }
  }

  .menu-button {
    width: 16px;
    height: 16px;
    margin-left: 10px;

    &::before {
      display: block;
      width: 100%;
      height: 100%;
      background: url("../img/menu.png") no-repeat center / contain;
      content: '';
    }
  }
}

.service {
  display: none;
}

.main {

  .inner {
    position: relative;
  }

  &__title {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__link {
    &::before {
      display: block;
      width: 120px;
      height: 20px;
      background: url("../img/logo_line.png") no-repeat center / contain;
      content: '';
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }

  .customer {
    &-wrap {
      display: flex;
      align-items: center;
    }

    &-add-button {
      display: flex;
      padding: 8px 15px;
      background-color: #efefef;
      border: 1px solid transparent;
      border-radius: 20px;
      color: $color-text;

      &::before {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 5px;
        background: url("../img/bell.png") no-repeat center / contain;
        content: '';
      }
    }

    &-num {
      margin-left: 10px;

      &-count {
        margin-left: 4px;
      }

      &-info {
        margin-top: 4px;
        margin-left: 4px;

        &::after {
          display: inline-block;
          width: 12px;
          height: 12px;
          background: url("../img/info.png") no-repeat center / contain;
          content: '';
        }
      }
    }
  }

  .input-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 180px;
    height: 40px;
    padding: 8px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #efefef;
  }

  &__input {
    width: 80%;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    z-index: 1;

    // &.is-clicked + .main__label {
    //   opacity: 0;
    // }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  &__search-button {
    padding-top: 4px;

    &::before {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url("../img/search.png") no-repeat center / contain;
      content: '';
    }
  }

  &__gnb {
    &-wrap {
      display: flex;
      justify-content: space-between;
    }
    
    &-list {
      display: flex;
      flex-shrink: 0;
    }

    &-item {
      padding: 0 25px;
      text-transform: uppercase;

      &:first-child {
        padding: 0;
      }
    }

    &-link {
      font-size: 14px;
      color: $color-text;
    }

    &-more {
      font-size: 14px;
    }
  }

  .swiper {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;
    }

    &-slide{
      position: relative;
      
      img {
        display: block;
        width: 100%;
        height: auto;
      }

      &__txtbox {
        position: absolute;
        top: 300px;
        left: 15%;
        width: 300px;
      }

      &__title {
        font-size: 50px;
        line-height: 50px;
        letter-spacing: 0.1;
      }

      &__txt {
        margin-top: 20px;
        font-size: 18px;
      }
    }

    &-button {
      &-prev, &-next {
        display: inline-block;
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        transform: translateY(-50%);
        border: 1px solid $color-grey;
        background-color: $color-grey;
        opacity: .3;

        &::after {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          background: url(../img/arrow.png) no-repeat center / contain;
          content: '';
        }
      }

      &-prev {
        left: 5%;
        &::after {
          right: 2px;
          transform: rotate(90deg);
        }
      }

      &-next {
        right: 5%;
        &::after {
          left: 2px;
          transform: rotate(-90deg);
        }
      }
    }

    &-pagination {
      position: absolute;
      left: 50%;
      bottom: 14px;
      transform: translateX(-50%);
      z-index: $z-index-minimum;

      &-bullet {
        background-color: $color-grey;

      &-active {
        background-color: $color-white;
      }
      }
    }
  }
}