.inner {
  width: 70%;
  z-index: calc($z-index-minimum + 1);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  z-index: calc($z-index-minimum + 1);

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .link {
    &-wrap {
      display: inline-flex;
      align-items: center;
      height: 100%;
    }

    &-naver {
      width: 60px;
      height: 50px;

      &::after {
        display: block;
        width: 100%;
        height: 100%;
        background: url("../img/logo_naver.png") no-repeat center / contain;
        content: '';
      }
    }

    &-shop {
      display: flex;
      align-items: center;
      margin-left: 15px;

      &::before {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        background: url("../img/shopping.png") no-repeat center / contain;
        content: '';
      }
    }

    &-login {
      padding: 5px;
      border: 1px solid $color-grey;

      .link-txt {
        font-size: 12px;
      }
    }

    &-txt {
      color: $color-text;
    }
  }

  .menu-button {
    width: 16px;
    height: 16px;
    margin-left: 10px;

    &::before {
      display: block;
      width: 100%;
      height: 100%;
      background: url("../img/menu.png") no-repeat center / contain;
      content: '';
    }
  }
}

.service {
  display: none;
}

.widget {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  width: 70%;
  margin: 0 auto;
  z-index: calc($z-index-minimum + 1);

  .inner {
    width: 100%;
  }

  &__title {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__link {
    &::before {
      display: block;
      width: 120px;
      height: 20px;
      background: url("../img/logo_line.png") no-repeat center / contain;
      content: '';
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }

  .customer {
    &-wrap {
      display: flex;
      align-items: center;
    }

    &-add-button {
      display: flex;
      padding: 8px 15px;
      background-color: #efefef;
      border: 1px solid transparent;
      border-radius: 20px;
      color: $color-text;

      &::before {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-right: 5px;
        background: url("../img/bell.png") no-repeat center / contain;
        content: '';
      }
    }

    &-num {
      margin-left: 10px;

      &-count {
        margin-left: 4px;
      }

      &-info {
        margin-top: 4px;
        margin-left: 4px;

        &::after {
          display: inline-block;
          width: 12px;
          height: 12px;
          background: url("../img/info.png") no-repeat center / contain;
          content: '';
        }
      }
    }
  }

  .input-wrap {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 180px;
    height: 40px;
    padding: 8px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #efefef;
  }

  &__input {
    width: 80%;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    z-index: 1;

    // &.is-clicked + .main__label {
    //   opacity: 0;
    // }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  &__search-button {
    padding-top: 4px;

    &::before {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: url("../img/search.png") no-repeat center / contain;
      content: '';
    }
  }

  &__gnb {
    &-wrap {
      display: flex;
      justify-content: space-between;
    }

    &-list {
      display: flex;
      flex-shrink: 0;
    }

    &-item {
      padding: 0 25px;
      text-transform: uppercase;

      &:first-child {
        padding: 0;
      }
    }

    &-link {
      font-size: 14px;
      color: $color-text;
    }

    &-more {
      font-size: 14px;
    }
  }
}

.swiper {
  &-main {
    overflow: hidden;

    .swiper {
      &-wrapper {
        display: flex;
        justify-content: space-between;
      }

      &-slide {
        position: relative;
        height: 100%;

        &::before {
          background: url("../img/swiper-img");
        }

        img {
          display: block;
          width: 100%;
          height: auto;
        }

        &__txtbox {
          position: absolute;
          top: 300px;
          left: 15%;
          width: 300px;
        }

        &__title {
          font-size: 50px;
          line-height: 50px;
          letter-spacing: 0.1;
        }

        &__txt {
          margin-top: 20px;
          font-size: 18px;
        }
      }

      &-button {

        &-prev,
        &-next {
          display: inline-block;
          position: absolute;
          top: 50%;
          width: 40px;
          height: 40px;
          transform: translateY(-50%);
          border: 1px solid $color-grey;
          background-color: $color-grey;
          opacity: .3;

          &::after {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            background: url(../img/arrow.png) no-repeat center / contain;
            content: '';
          }
        }

        &-prev {
          left: 5%;

          &::after {
            right: 2px;
            transform: rotate(90deg);
          }
        }

        &-next {
          right: 5%;

          &::after {
            left: 2px;
            transform: rotate(-90deg);
          }
        }
      }

      &-pagination {
        margin-bottom: 15px;

        &-bullet {
          background-color: $color-white;
          opacity: 1;

          &-active {
            background-color: $color-text;
          }
        }
      }
    }
  }
}

.story {
  position: relative;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 112px;
  }

  &__title {
    font-size: 30px;
  }

  .swiper {
    &-story {
      overflow: hidden;
      width: 100%;
      height: 750px;
      margin-top: 50px;
    }

    &-wrapper {
      display: flex;
      flex-shrink: 0;
    }

    &-slide {
      max-width: 441px;
      padding: 0 10px;
    }

    &-button {
      &-prev,
      &-next {
        display: inline-block;
        position: absolute;
        top: 30%;
        width: 60px;
        height: 60px;
        padding: 10px;
        border: 1px solid $color-text;
        transition: all .3s;

        &::after {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          background: url(../img/arrow.png) no-repeat center / contain;
          content: '';
        }

        &:hover {
          background-color: #efefef;
          border-color: #ddd;
          transition: all .3s;
        }
      }

      &-prev {
        left: 8%;

        &::after {
          right: 2px;
          transform: rotate(90deg);
        }
      }

      &-next {
        right: 8%;

        &::after {
          left: 2px;
          transform: rotate(-90deg);
        }
      }
    }

    &-pagination {

      &-bullet {
        background-color: $color-grey;
        opacity: 1;

        &-active {
          background-color: $color-text;
        }
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
  }

  &__img-wrap {
    height: 365px;
    border-radius: 20px;
    background: url("../img/story-img01.jpg") no-repeat center / cover;

    &.second {
      background-image: url("../img/story-img02.jpg");
    }

    &.third {
      background-image: url("../img/story-img03.jpg");
    }

    &.fourth {
      background-image: url("../img/story-img04.jpg");
    }
  }

  &__contents {
    margin-top: 20px;
  }

  &__subtitle {
    display: -webkit-box;
    overflow: hidden;
    font-weight: 600;
    font-size: 24px;
    color: #222;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  &__desc {
    display: -webkit-box;
    overflow: hidden;
    margin-top: 16px;
    font-size: 14px;
    color: #222;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }

  &__list {
    margin-top: 10px;
  }

  &__thumbs-wrap {
    display: inline-block;
    overflow: hidden;
    width: 60px;
    border-radius: 10px;

    img {
      display: block;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 20px 0;

    &:first-child {
      border-bottom: 1px solid rgba(0, 0, 0, .07);
    }

    &-info {
      display: flex;
      flex-direction: column;
      max-width: 80%;
      margin-left: 20px;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }

    &-title {
      display: -webkit-box;
      overflow: hidden;
      font-size: 12px;
      color: #222;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }

    .review-wrap {
      display: flex;
      align-items: center;
      margin-top: 8px;
      font-size: 13px;
      color: $color-grey;

      .grade {
        &::after {
          display: inline-block;
          width: 2px;
          height: 2px;
          border-radius: 2px;
          background-color: $color-grey;
          margin: 0 5px 2px;
          line-height: 14px;
          content: '';
        }
      }
    }
  }

  &__price {
    margin-top: 2px;
    font-weight: 700;
    font-size: 13px;
    color: #222;
  }

  &__all-button {
    padding: 15px 50px;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid $color-grey;
  }
}