<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../css/style.css">
  <script src="../js/libs/swiper-bundle.min.js" defer></script>
  <script src="../js/main.js" defer></script>
  <title>라인프렌즈</title>
</head>

<body>
  <div class="wrap">
    <header class="header">
      <div class="inner">
        <div class="link-wrap">
          <a href="www.naver.com" class="link-naver">
            <span class="blind">네이버 바로가기</span>
          </a>
          <a href="www.naver.com" class="link-shop">
            <span class="blind">네이버쇼핑 바로가기</span>
            <span class="link-txt">네이버쇼핑</span>
          </a>
        </div>
        <div class="link-wrap">
          <a href="" class="link-login">
            <span class="link-txt">로그인</span>
          </a>
          <button type="button" class="menu-button is-clicked">
            <span class="blind">더 많은 서비스</span>
          </button>
        </div>
        <div class="service">
          <button class="service__setting" type="button"></button>
          <div class="service__favorite">
            <span class="blind">즐겨찾기 서비스 추가</span>
            <ul class="service__favorite-list">
              <li class="service__favorite-item">
                <a href="" class="service__favorite-link"></a>
                <span class="service__favorite-txt">추가</span>
              </li>
              <li class="service__favorite-item">
                <a href="" class="service__favorite-link"></a>
                <span class="service__favorite-txt">추가</span>
              </li>
              <li class="service__favorite-item">
                <a href="" class="service__favorite-link"></a>
                <span class="service__favorite-txt">추가</span>
              </li>
              <li class="service__favorite-item">
                <a href="" class="service__favorite-link"></a>
                <span class="service__favorite-txt">추가</span>
              </li>
            </ul>
          </div>
          <div class="service__search">
            <input type="search" class="service__input">
            <label for="" class="service__label">더 많은 서비스를 간편하게 시작하세요!</label>
            <button class="service__input-button">
              <span class="blind">검색</span>
            </button>
            <div class="service__gnb-list-wrap">
              <span class="blind">서비스 바로가기</span>
              <ul class="service__gnb-list">
                <li class="service__gnb-item">
                  <a href="" class="service__gnb-link">카페</a>
                </li>
                <li class="service__search-item">
                  <a href="" class="service__gnb-link">뉴스</a>
                </li>
                <li class="service__search-item">
                  <a href="" class="service__gnb-link">지도</a>
                </li>
                <li class="service__search-item">
                  <a href="" class="service__gnb-link">스포츠</a>
                </li>
                <li class="service__search-item">
                  <a href="" class="service__gnb-link">게임</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="service__ad">
            <a href="" class="service__ad-link">
              <span class="blind">네이버페이 바로가기</span>
            </a>
            <a href="" class="service__ad-txt">
              <span class="blind">이벤트 참여하면 포인트 적립!</span>
            </a>
          </div>
          <div class="service__all-wrap">
            <a href="" class="service__all">전체 서비스보기</a>
          </div>
        </div>
      </div>
    </header>
    <div class="widget">
      <div class="inner">
        <h1 class="widget__title">
          <span class="blind">line friends</span>
          <a href="#" class="widget__link"></a>
        </h1>
        <div class="widget__top">
          <div class="customer-wrap">
            <button type="button" class="customer-add-button">알림받기</button>
            <span class="customer-num">관심고객수</span>
            <!-- [D] 알림 등록 시 숫자가 올라가는 기능 추가 -->
            <span class="customer-num-count">282,708</span>
            <button type="button" class="customer-num-info" title="도움말"></button>
          </div>
          <div class="input-wrap">
            <input type="text" class="widget__input is-clicked">
            <label for="" class="widget__label">검색어를 입력해보세요</label>
            <button class="widget__search-button"></button>
          </div>
        </div>
        <div class="widget__gnb-wrap">
          <ul class="widget__gnb-list">
            <li class="widget__gnb-item">
              <a href="" class="widget__gnb-link">best</a>
            </li>
            <li class="widget__gnb-item">
              <a href="" class="widget__gnb-link">new</a>
            </li>
            <li class="widget__gnb-item">
              <a href="" class="widget__gnb-link">월간선물</a>
            </li>
            <li class="widget__gnb-item">
              <a href="" class="widget__gnb-link">sale</a>
            </li>
            <li class="widget__gnb-item">
              <a href="" class="widget__gnb-link">캐릭터</a>
            </li>
            <li class="widget__gnb-item">
              <a href="" class="widget__gnb-link">브랜드</a>
            </li>
            <li class="widget__gnb-item">
              <a href="" class="widget__gnb-link">카테고리</a>
            </li>
            <li class="widget__gnb-item">
              <a href="" class="widget__gnb-link">전체상품</a>
            </li>
            <li class="widget__gnb-item">
              <a href="" class="widget__gnb-link">묻고 답하기</a>
            </li>
            <li class="widget__gnb-item">
              <a href="" class="widget__gnb-link">공지사항</a>
            </li>
            <li class="widget__gnb-item">
              <a href="" class="widget__gnb-link">리뷰이벤트</a>
            </li>
            <li class="widget__gnb-item">
              <a href="" class="widget__gnb-link">쇼핑스토리</a>
            </li>
            <li class="widget__gnb-item">
              <a href="" class="widget__gnb-link">판매자 정보</a>
            </li>
          </ul>
          <button type="button" class="widget__gnb-more">더보기</button>
        </div>
      </div>
    </div>
    <div class="contents">
      <div class="swiper swiper-main">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <!-- <img src="../img/swiper-img01.jpg" alt=""> -->
            <div class="swiper-slide__txtbox">
              <strong class="swiper-slide__title">BT21<br> with ETUDE</strong>
              <p class="swiper-slide__txt">Rabbit Edition</p>
            </div>
          </div>
          <div class="swiper-slide">
            <!-- <img src="../img/swiper-img02.jpg" alt=""> -->
            <div class="swiper-slide__txtbox">
              <strong class="swiper-slide__title">we are<br> MININIGUMAN</strong>
              <p class="swiper-slide__txt">조구만 스튜디오 X minini</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__txtbox">
              <strong class="swiper-slide__title">Dimond<br> edition</strong>
              <p class="swiper-slide__txt">TRUZ Flat Fur doll</p>
            </div>
            <!-- <img src="../img/swiper-img03.jpg" alt=""> -->
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <section class="story">
        <div class="inner">
          <strong class="stroy__title">주목할만한 소식</strong>
          <div class="swiper swiper-story">
            <div class="swiper-wrapper">
              <a href="" class="story__link">
                <div class="swiper-slide">
                  <div class="story__img-wrap">
                    <!-- <img src="../img/swiper-img01.jpg" alt=""> -->
                  </div>
                  <div class="stroy__contents">
                    <strong class="story__subtitle">LINE FRIENDS Flat fur season 2</strong>
                    <p class="story__desc">
                      복슬복슬 남다른 감촉 살짝쿵 플랫한 부드러운 자태❤️ 🐻🐰🐤🐸🐱 LINE FRIENDS Flat fur season 2 기억 하나요...?
                      우리가 사랑했던 바로 이 모습! 처음으로 만나는 레너드와 제시카까지!
                      라인프렌즈의 레전드 라인-업 플랫퍼를 새롭게 만나보세요!
                      📢판매 채널 라인프렌즈 온라인 스토어 라인프렌즈 오프라인 스토어 전 매장 2023년 3월 18일 출시 예정 *매장 오픈 시간에 따라 구매가 가능합니다.
                      위치 보러 가기👇 📍FOR OTHER COUNTRIES LINE FRIENDS COLLECTION 한 올 한 올, 몽실몽실함을 간직한 채 내 곁에 짠✨ 사랑에 빠질 수 밖에 없는 친구들과 3월 17일에 만나요!
                      ❗️신상품 & 프로모션 소식을 가장 빠르게 알 수 있는 방법! 라인프렌즈 스토어 SNS 계정 팔로우 하기!
                    </p>
                  </div>
                  <ul class="stroy__list">
                    <li class="story__item">
                      <div class="story__thumbs-wrap">
                        <img src="" alt="">
                      </div>
                      <div class="story__item-info">
                        <strong class="story__item-title">라인프렌즈 브라운 플랫퍼 인형</strong>
                        <span class="story__price">21,000원</span>
                      </div>
                    </li>
                    <li class="story__item">
                      <div class="story__thumbs-wrap">
                        <img src="" alt="">
                      </div>
                      <div class="story__item-info">
                        <strong class="story__item-title">라인프렌즈 코니 플랫퍼 인형</strong>
                        <span class="story__price">21,000원</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </a>
              <div class="swiper-slide">
                <a href="" class="story__link">
                  <div class="story__img-wrap">
                    <!-- <img src="../img/swiper-img01.jpg" alt=""> -->
                  </div>
                  <div class="stroy__contents">
                    <strong class="story__subtitle">we are MININIGUMAN</strong>
                    <p class="story__desc">
                      조구만 스튜디오 X minini MININIGUMAN 조구만 행운이 쏘아올린 커다란 행복✨
                      몸집은 거대하지만 하찮은 초식공룡 브라키오와🦕 쬐꼼하지만 격하게 대범한 존재감의 미니니🐻🐰🐤🎀🐸⛄️ 서로 다르니까, 오히려 좋아!
                      미니니와 브라키오가 만들어가는 행운 그 이상의 행복까지 STUDIO B 프로젝트로 만나보세요.
                      📍라인프렌즈 온라인 스토어 📍라인프렌즈 오프라인 스토어 전매장 2023년 3월 17일 출시 예정 *매장 오픈 시간에 따라 구매가 가능합니다.
                      *매장별 재고는 상이하오니 각 매장에 문의해 주시기 바랍니다.
                      위치 보러 가기👇 📍FOR OTHER COUNTRIES LINE FRIENDS COLLECTION ❗️신상품 & 프로모션 소식을 가장 빠르게 알 수 있는 방법!
                      라인프렌즈 스토어 SNS 계정 팔로우 하기!
                    </p>
                  </div>
                  <ul class="stroy__list">
                    <li class="story__item">
                      <div class="story__thumbs-wrap">
                        <img src="" alt="">
                      </div>
                      <div class="story__item-info">
                        <strong class="story__item-title">라인프렌즈 미니니구만 브라키오 인형 백참</strong>
                        <span class="story__price">15,000원</span>
                        <div class="review-wrap">
                          <span class="grade">평점 5.0</span>
                          <span class="review">리뷰 39</span>
                        </div>
                    </li>
                    <li class="story__item">
                      <div class="story__thumbs-wrap">
                        <img src="" alt="">
                      </div>
                      <div class="story__item-info">
                        <strong class="story__item-title">라인프렌즈 미니니구만 브라키오&샐리니 인형</strong>
                        <span class="story__price">25,000원</span>
                        <div class="review-wrap">
                          <span class="grade">평점 5.0</span>
                          <span class="review">리뷰 20</span>
                        </div>
                    </li>
                  </ul>
                </a>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <footer></footer>
    </div>
  </div>
</body>

</html>