<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="stylesheet" href="../css/style.css">
  <script src="../js/libs/swiper-bundle.min.js" defer></script>
  <script src="../js/main.js" defer></script>
  <title>라인프렌즈</title>
</head>

<body>
  <div class="wrap">
    <header class="header">
      <div class="inner">
        <div class="link-wrap">
          <a href="www.naver.com" class="link-naver">
            <span class="blind">네이버 바로가기</span>
          </a>
          <a href="www.naver.com" class="link-shop">
            <span class="blind">네이버쇼핑 바로가기</span>
            <span class="link-txt">네이버쇼핑</span>
          </a>
        </div>
        <div class="link-wrap">
          <a href="" class="link-login">
            <span class="link-txt">로그인</span>
          </a>
          <button type="button" class="menu-button is-clicked">
            <span class="blind">더 많은 서비스</span>
          </button>
        </div>
        <div class="service">
          <button class="service__setting" type="button"></button>
          <div class="service__favorite">
            <span class="blind">즐겨찾기 서비스 추가</span>
            <ul class="service__favorite-list">
              <li class="service__favorite-item">
                <a href="" class="service__favorite-link"></a>
                <span class="service__favorite-txt">추가</span>
              </li>
              <li class="service__favorite-item">
                <a href="" class="service__favorite-link"></a>
                <span class="service__favorite-txt">추가</span>
              </li>
              <li class="service__favorite-item">
                <a href="" class="service__favorite-link"></a>
                <span class="service__favorite-txt">추가</span>
              </li>
              <li class="service__favorite-item">
                <a href="" class="service__favorite-link"></a>
                <span class="service__favorite-txt">추가</span>
              </li>
            </ul>
          </div>
          <div class="service__search">
            <input type="search" class="service__input">
            <label for="" class="service__label">더 많은 서비스를 간편하게 시작하세요!</label>
            <button class="service__input-button">
              <span class="blind">검색</span>
            </button>
            <div class="service__gnb-list-wrap">
              <span class="blind">서비스 바로가기</span>
              <ul class="service__gnb-list">
                <li class="service__gnb-item">
                  <a href="" class="service__gnb-link">카페</a>
                </li>
                <li class="service__search-item">
                  <a href="" class="service__gnb-link">뉴스</a>
                </li>
                <li class="service__search-item">
                  <a href="" class="service__gnb-link">지도</a>
                </li>
                <li class="service__search-item">
                  <a href="" class="service__gnb-link">스포츠</a>
                </li>
                <li class="service__search-item">
                  <a href="" class="service__gnb-link">게임</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="service__ad">
            <a href="" class="service__ad-link">
              <span class="blind">네이버페이 바로가기</span>
            </a>
            <a href="" class="service__ad-txt">
              <span class="blind">이벤트 참여하면 포인트 적립!</span>
            </a>
          </div>
          <div class="service__all-wrap">
            <a href="" class="service__all">전체 서비스보기</a>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="inner">
        <h1 class="main__title">
          <span class="blind">line friends</span>
          <a href="#" class="main__link"></a>
        </h1>
        <div class="main__top">
          <div class="customer-wrap">
            <button type="button" class="customer-add-button">알림받기</button>
            <span class="customer-num">관심고객수</span>
            <!-- [D] 알림 등록 시 숫자가 올라가는 기능 추가 -->
            <span class="customer-num-count">282,708</span>
            <button type="button" class="customer-num-info" title="도움말"></button>
          </div>
          <div class="input-wrap">
            <input type="text" class="main__input is-clicked">
            <label for="" class="main__label">검색어를 입력해보세요</label>
            <button class="main__search-button"></button>
          </div>
        </div>
        <div class="main__gnb-wrap">
          <ul class="main__gnb-list">
            <li class="main__gnb-item">
              <a href="" class="main__gnb-link">best</a>
            </li>
            <li class="main__gnb-item">
              <a href="" class="main__gnb-link">new</a>
            </li>
            <li class="main__gnb-item">
              <a href="" class="main__gnb-link">월간선물</a>
            </li>
            <li class="main__gnb-item">
              <a href="" class="main__gnb-link">sale</a>
            </li>
            <li class="main__gnb-item">
              <a href="" class="main__gnb-link">캐릭터</a>
            </li>
            <li class="main__gnb-item">
              <a href="" class="main__gnb-link">브랜드</a>
            </li>
            <li class="main__gnb-item">
              <a href="" class="main__gnb-link">카테고리</a>
            </li>
            <li class="main__gnb-item">
              <a href="" class="main__gnb-link">전체상품</a>
            </li>
            <li class="main__gnb-item">
              <a href="" class="main__gnb-link">묻고 답하기</a>
            </li>
            <li class="main__gnb-item">
              <a href="" class="main__gnb-link">공지사항</a>
            </li>
            <li class="main__gnb-item">
              <a href="" class="main__gnb-link">리뷰이벤트</a>
            </li>
            <li class="main__gnb-item">
              <a href="" class="main__gnb-link">쇼핑스토리</a>
            </li>
            <li class="main__gnb-item">
              <a href="" class="main__gnb-link">판매자 정보</a>
            </li>
          </ul>
          <button type="button" class="main__gnb-more">더보기</button>
        </div>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../img/swiper-img01.jpg" alt="">
            <div class="swiper-slide__txtbox">
              <strong class="swiper-slide__title">BT21<br> with ETUDE</strong>
              <p class="swiper-slide__txt">Rabbit Edition</p>
            </div>
          </div>
          <div class="swiper-slide">
            <img src="../img/swiper-img02.jpg" alt="">
            <div class="swiper-slide__txtbox">
              <strong class="swiper-slide__title">we are<br> MININIGUMAN</strong>
              <p class="swiper-slide__txt">조구만 스튜디오 X minini</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide__txtbox">
              <strong class="swiper-slide__title">Dimond<br> edition</strong>
              <p class="swiper-slide__txt">TRUZ Flat Fur doll</p>
            </div>
            <img src="../img/swiper-img03.jpg" alt="">
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </main>

    <footer></footer>
  </div>
</body>

</html>