body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  display: block;
}

html,
body {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-overflow-scrolling: auto;
}

img,
form,
fieldset,
svg,
li {
  border: 0;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  margin: -1px;
}

input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address,
caption,
em {
  font-style: normal;
}

a {
  display: inline-block;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  text-indent: -9999px;
  white-space: nowrap;
}

.inner {
  width: 70%;
  z-index: 2;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  z-index: 2;
}
.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header .link-wrap {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
.header .link-naver {
  width: 60px;
  height: 50px;
}
.header .link-naver::after {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/logo_naver.png") no-repeat center/contain;
  content: "";
}
.header .link-shop {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.header .link-shop::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background: url("../img/shopping.png") no-repeat center/contain;
  content: "";
}
.header .link-login {
  padding: 5px;
  border: 1px solid #cccccc;
}
.header .link-login .link-txt {
  font-size: 12px;
}
.header .link-txt {
  color: #444;
}
.header .menu-button {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
.header .menu-button::before {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/menu.png") no-repeat center/contain;
  content: "";
}

.service {
  display: none;
}

.widget {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  width: 70%;
  margin: 0 auto;
  z-index: 2;
}
.widget__title {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.widget__link::before {
  display: block;
  width: 120px;
  height: 20px;
  background: url("../img/logo_line.png") no-repeat center/contain;
  content: "";
}
.widget__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.widget .customer-wrap {
  display: flex;
  align-items: center;
}
.widget .customer-add-button {
  display: flex;
  padding: 8px 15px;
  background-color: #efefef;
  border: 1px solid transparent;
  border-radius: 20px;
  color: #444;
}
.widget .customer-add-button::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background: url("../img/bell.png") no-repeat center/contain;
  content: "";
}
.widget .customer-num {
  margin-left: 10px;
}
.widget .customer-num-count {
  margin-left: 4px;
}
.widget .customer-num-info {
  margin-top: 4px;
  margin-left: 4px;
}
.widget .customer-num-info::after {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/info.png") no-repeat center/contain;
  content: "";
}
.widget .input-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 180px;
  height: 40px;
  padding: 8px 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #efefef;
}
.widget__input {
  width: 80%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  z-index: 1;
}
.widget__label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.widget__search-button {
  padding-top: 4px;
}
.widget__search-button::before {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/search.png") no-repeat center/contain;
  content: "";
}
.widget__gnb-wrap {
  display: flex;
  justify-content: space-between;
}
.widget__gnb-list {
  display: flex;
  flex-shrink: 0;
}
.widget__gnb-item {
  padding: 0 25px;
  text-transform: uppercase;
}
.widget__gnb-item:first-child {
  padding: 0;
}
.widget__gnb-link {
  font-size: 14px;
  color: #444;
}
.widget__gnb-more {
  font-size: 14px;
}

.swiper-main {
  overflow: hidden;
}
.swiper-main .swiper-wrapper {
  display: flex;
  justify-content: space-between;
}
.swiper-main .swiper-slide {
  position: relative;
  height: 100%;
}
.swiper-main .swiper-slide::before {
  background: url("../img/swiper-img");
}
.swiper-main .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}
.swiper-main .swiper-slide__txtbox {
  position: absolute;
  top: 300px;
  left: 15%;
  width: 300px;
}
.swiper-main .swiper-slide__title {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.1;
}
.swiper-main .swiper-slide__txt {
  margin-top: 20px;
  font-size: 18px;
}
.swiper-main .swiper-button-prev, .swiper-main .swiper-button-next {
  display: inline-block;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  border: 1px solid #cccccc;
  background-color: #cccccc;
  opacity: 0.3;
}
.swiper-main .swiper-button-prev::after, .swiper-main .swiper-button-next::after {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/arrow.png) no-repeat center/contain;
  content: "";
}
.swiper-main .swiper-button-prev {
  left: 5%;
}
.swiper-main .swiper-button-prev::after {
  right: 2px;
  transform: rotate(90deg);
}
.swiper-main .swiper-button-next {
  right: 5%;
}
.swiper-main .swiper-button-next::after {
  left: 2px;
  transform: rotate(-90deg);
}
.swiper-main .swiper-pagination {
  margin-bottom: 15px;
}
.swiper-main .swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 1;
}
.swiper-main .swiper-pagination-bullet-active {
  background-color: #444;
}

.story {
  position: relative;
}
.story .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 112px;
}
.story__title {
  font-size: 30px;
}
.story .swiper-story {
  overflow: hidden;
  width: 100%;
  height: 750px;
  margin-top: 50px;
}
.story .swiper-wrapper {
  display: flex;
  flex-shrink: 0;
}
.story .swiper-slide {
  max-width: 441px;
  padding: 0 10px;
}
.story .swiper-button-prev, .story .swiper-button-next {
  display: inline-block;
  position: absolute;
  top: 30%;
  width: 60px;
  height: 60px;
  padding: 10px;
  border: 1px solid #444;
  transition: all 0.3s;
}
.story .swiper-button-prev::after, .story .swiper-button-next::after {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/arrow.png) no-repeat center/contain;
  content: "";
}
.story .swiper-button-prev:hover, .story .swiper-button-next:hover {
  background-color: #efefef;
  border-color: #ddd;
  transition: all 0.3s;
}
.story .swiper-button-prev {
  left: 8%;
}
.story .swiper-button-prev::after {
  right: 2px;
  transform: rotate(90deg);
}
.story .swiper-button-next {
  right: 8%;
}
.story .swiper-button-next::after {
  left: 2px;
  transform: rotate(-90deg);
}
.story .swiper-pagination-bullet {
  background-color: #cccccc;
  opacity: 1;
}
.story .swiper-pagination-bullet-active {
  background-color: #444;
}
.story__link {
  display: flex;
  flex-direction: column;
}
.story__img-wrap {
  height: 365px;
  border-radius: 20px;
  background: url("../img/story-img01.jpg") no-repeat center/cover;
}
.story__img-wrap.second {
  background-image: url("../img/story-img02.jpg");
}
.story__img-wrap.third {
  background-image: url("../img/story-img03.jpg");
}
.story__img-wrap.fourth {
  background-image: url("../img/story-img04.jpg");
}
.story__contents {
  margin-top: 20px;
}
.story__subtitle {
  display: -webkit-box;
  overflow: hidden;
  font-weight: 600;
  font-size: 24px;
  color: #222;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.story__desc {
  display: -webkit-box;
  overflow: hidden;
  margin-top: 16px;
  font-size: 14px;
  color: #222;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.story__list {
  margin-top: 10px;
}
.story__thumbs-wrap {
  display: inline-block;
  overflow: hidden;
  width: 60px;
  border-radius: 10px;
}
.story__thumbs-wrap img {
  display: block;
  width: 100%;
}
.story__item {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.story__item:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.story__item-info {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-left: 20px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.story__item-title {
  display: -webkit-box;
  overflow: hidden;
  font-size: 12px;
  color: #222;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.story__item .review-wrap {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 13px;
  color: #cccccc;
}
.story__item .review-wrap .grade::after {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 2px;
  background-color: #cccccc;
  margin: 0 5px 2px;
  line-height: 14px;
  content: "";
}
.story__price {
  margin-top: 2px;
  font-weight: 700;
  font-size: 13px;
  color: #222;
}
.story__all-button {
  padding: 15px 50px;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #cccccc;
}

/*# sourceMappingURL=style.css.map */
