body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  display: block;
}

html,
body {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-overflow-scrolling: auto;
}

img,
form,
fieldset,
svg,
li {
  border: 0;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

button {
  overflow: visible;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button::-moz-focus-inner {
  padding: 0;
  margin: -1px;
}

input,
button,
select {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address,
caption,
em {
  font-style: normal;
}

a {
  display: inline-block;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  text-indent: -9999px;
  white-space: nowrap;
}

.wrap {
  margin: 0 auto;
}

.inner {
  max-width: 70%;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .link-wrap {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
.header .link-naver {
  width: 60px;
  height: 60px;
}
.header .link-naver::after {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/logo_naver.png") no-repeat center/contain;
  content: "";
}
.header .link-shop {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.header .link-shop::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  background: url("../img/shopping.png") no-repeat center/contain;
  content: "";
}
.header .link-login {
  padding: 5px;
  border: 1px solid #cccccc;
}
.header .link-login .link-txt {
  font-size: 12px;
}
.header .link-txt {
  color: #444;
}
.header .menu-button {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}
.header .menu-button::before {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/menu.png") no-repeat center/contain;
  content: "";
}

.service {
  display: none;
}

.main .inner {
  position: relative;
}
.main__title {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.main__link::before {
  display: block;
  width: 120px;
  height: 20px;
  background: url("../img/logo_line.png") no-repeat center/contain;
  content: "";
}
.main__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.main .customer-wrap {
  display: flex;
  align-items: center;
}
.main .customer-add-button {
  display: flex;
  padding: 8px 15px;
  background-color: #efefef;
  border: 1px solid transparent;
  border-radius: 20px;
  color: #444;
}
.main .customer-add-button::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background: url("../img/bell.png") no-repeat center/contain;
  content: "";
}
.main .customer-num {
  margin-left: 10px;
}
.main .customer-num-count {
  margin-left: 4px;
}
.main .customer-num-info {
  margin-top: 4px;
  margin-left: 4px;
}
.main .customer-num-info::after {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/info.png") no-repeat center/contain;
  content: "";
}
.main .input-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 180px;
  height: 40px;
  padding: 8px 20px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #efefef;
}
.main__input {
  width: 80%;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  z-index: 1;
}
.main__label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.main__search-button {
  padding-top: 4px;
}
.main__search-button::before {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/search.png") no-repeat center/contain;
  content: "";
}
.main__gnb-wrap {
  display: flex;
  justify-content: space-between;
}
.main__gnb-list {
  display: flex;
}
.main__gnb-item {
  padding: 0 25px;
  text-transform: uppercase;
}
.main__gnb-item:first-child {
  padding: 0;
}
.main__gnb-link {
  font-size: 14px;
  color: #444;
}
.main__gnb-more {
  font-size: 14px;
}
.main .swiper {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.main .swiper-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main .swiper-slide {
  flex-shrink: 0;
  border: 1px solid red;
}
.main .swiper-slide img {
  width: 100%;
}
.main .swiper-slide__txtbox {
  position: relative;
  top: 200px;
  width: 300px;
}
.main .swiper-slide__title {
  font-size: 40px;
  line-height: 50px;
}
.main .swiper-slide__txt {
  margin-top: 30px;
  font-size: 16px;
}
.main .swiper-button-prev, .main .swiper-button-next {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 30px;
  border: 1px solid;
}
.main .swiper-button-prev {
  left: 0;
}
.main .swiper-button-next {
  right: 0;
}

/*# sourceMappingURL=style.css.map */
